
img, input, button {
  display: none;
}
* {
  font-family: "Roboto", sans-serif;
}

footer {
  font-size: 10pt;
  font-style: italic;
}

h1:first-of-type {
  font-size: 12pt;
}

body > img:last-of-type {
  display: block;
  width: 30mm;
  margin-top: 30mm;
  transform: scaleX(-1);
}